%h1 Claims

= link_to 'New Claim', new_claim_path

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @claims.each do |claim|
    %tr
      %td= link_to 'Show', claim
      %td= link_to 'Edit', edit_claim_path(claim)
      %td= link_to 'Destroy', claim, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


