%h1 Customers

= link_to 'New Customer', new_customer_path, class: "btn btn-default"

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.id
      %td= link_to customer.name, edit_customer_path(customer)
      - if current_user.try(:admin)
        %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


