%h1 Ports of Discharge

= link_to 'New Port of discharge', new_port_of_discharge_path, class: "btn btn-default"

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th City
    %th Country

  - @port_of_discharges.each do |port_of_discharge|
    %tr
      %td= port_of_discharge.id
      %td= link_to port_of_discharge.name, edit_port_of_discharge_path(port_of_discharge)
      - if current_user.try(:admin)
        %td= link_to 'Destroy', port_of_discharge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


