%h1 Consignees

= link_to 'New Consignee', new_consignee_path, class: "btn btn-default"

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @consignees.each do |consignee|
    %tr
      %td= consignee.id
      %td= link_to consignee.name, edit_consignee_path(consignee)
      - if current_user.try(:admin)
        %td= link_to 'Destroy', consignee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


