%h1 Consignees

= link_to 'New Consignee', new_consignee_path

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @consignees.each do |consignee|
    %tr
      %td= link_to 'Show', consignee
      %td= link_to 'Edit', edit_consignee_path(consignee)
      %td= link_to 'Destroy', consignee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


