%h1 Items

= link_to 'New Item', new_item_path

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @items.each do |item|
    %tr
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


