
body {
  background-color: #FEE;

}

header {  
  background-color: #8A8;



  font-size: 40px;


}

nav { 
  background-color: #555;
  font-size: 20px;

}

main {

  min-height: 800px;
}



footer {

  min-height: 200px;

  background-color: #222;
  color: #EEE;

}