%h1 Shipments

= link_to 'New Shipment', new_shipment_path

%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th No.
    %th
    %th

  - @shipments.each do |shipment|
    %tr
      %td= link_to 'Show', shipment
      %td= link_to 'Edit', edit_shipment_path(shipment)
      %td= link_to 'Destroy', shipment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


